<body>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="./assets/Images/Jefferen_laundry_website_design_space_age_theme_49c77e5b-4817-4dcc-9dec-a661c3dbda4f.png">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="./assets/Images/Jefferen_laundry_website_design_space_age_theme_49c77e5b-4817-4dcc-9dec-a661c3dbda4f.png">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="./assets/Images/Jefferen_laundry_website_design_space_age_theme_49c77e5b-4817-4dcc-9dec-a661c3dbda4f.png">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="./assets/Images/Jefferen_laundry_website_design_space_age_theme_49c77e5b-4817-4dcc-9dec-a661c3dbda4f.png">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>

