<body>

  <ion-list *ngFor="let baby of babies">
    <h1>{{baby | json}}</h1>
  </ion-list>

  <ion-list *ngFor="let student of students">
    <h1>{{student | json}}</h1>
  </ion-list>



  <ion-button color="danger" (click)="createStudent()">Make new student</ion-button>


  <ion-button (click)="vibrate()">Vibrate Single</ion-button>
  <ion-button (click)="vibratePattern()">Vibrate Pattern</ion-button>

  <!-- <li style="position: relative;" *ngFor="let item of generateArray(babies)"><p class="key">{{item.key}}:</p> <p class="value">{{item.value}}</p></li>
   -->
</body>