<body>
  <div class="container">
    <div class="box">
      <span></span>
      <ion-card>
        <ion-card-content class="content">
          <ion-card-header>
            <ion-card-title>
              the movie
            </ion-card-title>
            <ion-text>
              I am superman
            </ion-text>
          </ion-card-header>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="box">
      <span></span>
      <ion-card>
        <ion-card-content class="content">
          <ion-card-header>
            <ion-card-title>
              the movie
            </ion-card-title>
            <ion-text>
              I am superman
            </ion-text>
          </ion-card-header>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="box">
      <span></span>
      <ion-card>
        <ion-card-content class="content">
          <ion-card-header>
            <ion-card-title>
              the movie
            </ion-card-title>
            <ion-text>
              I am superman
            </ion-text>
          </ion-card-header>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</body>
