<body>
  <div class="text">
    <div class="line">
      <p class="word">nathan</p>
      <p class="word">smith</p>
    </div>
    <div class="line">
      <p class="word">design</p>
      <p class="word">&</p>
    </div>
    <div class="line">
      <p class="word">elden</p>
      <p class="word">lord</p>
    </div>
    <div class="line">
      <p class="word">bless</p>
      <p id="channel-link" class="word fancy">
        <span class="letter">u</span>
        <span class="letter">s</span>
        <span class="letter">s</span>
      </p>
    </div>
  </div>
</body>