<body>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <!-- <ion-col size="2" class="ion-text-center"> -->

            <ion-col size="2" class="ion-text-center" *ngFor="let item of linkItem">
            <ion-card>
              <ion-card>
                <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
                <a [href]="item.link" ><img [src]="item.img"/></a>
              </ion-card>
              <ion-label>{{item.name}}</ion-label>
            </ion-card>
          </ion-col>

          <!-- <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card> -->


        <!-- </ion-col> -->


        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-card>
            <ion-card>
              <ion-icon aria-hidden="true" name="planet-outline" aria-label="Option" size="large" class="specialIcon"></ion-icon>
              <a href="https://www.youtube.com/watch?v=v6-cp0zOxY4"><img src="./assets/Images/Jefferen_laundry_website_design_64f1e42d-7442-4f44-90ab-0183742b5e62.png"/></a>
            </ion-card>
            <ion-label>Youtube</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>
